
.lblSearch {
    margin-top: 30px;
}

a {
    margin-right: 30px;
}

a:hover {
    border-bottom: 3px solid #303030;
    border-inline-end: 10px;
}

.searchDiv {
    margin-top: 50px;
}

.linkNav {
    font-size: 20px;
}

.gifSearch {
    margin-left: 350px;

}

.appTitle {
    font-size: 50px;
}

.fa-search {
    margin-right: 5px;
    color: #fff;
}

.fa-refresh {
    margin-right: 5px;
    color: #fff;
}

.searchInput {
    margin-top: 500px;
    margin-left: 350px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 600px;
    font-weight: bold;
}

.md-input-container {
    margin-top: 100px;
}

.btnRandomPage {
    margin-top: 60px;
    margin-right: 300px;
}

.md-card-image {
    width: 100%;
    height: 200px;
}

md-card {
    border: 3px solid #fff;
    box-shadow: 5px 10px 8px #444444;
    margin: 20px;
    height: 300px;
    width: 400px;
    background-color: rgb(230, 230, 230);
    color: rgb(37, 37, 37);
}

.randomImage {
    width: 400px;
    height: 400px;
    border: 3px solid #fff;
    box-shadow: 5px 10px 8px #444444;
}

.gridTwo {
    margin-left: 535px;
}

.imageButton {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 600px;
}
