<div class="searchDiv">
    <label class="lblSearch" for="searchInput"></label>
    <md-input-container md-no-float>
        <input type="text" ng-model="vm.search" class="searchInput" placeholder="Search Giphy.com">
    </md-input-container>
    <md-button class="md-raised md-accent gifSearch" ng-click="vm.btnSearch(vm.search)" name="searchInput">Submit</md-button>
</div>

<div class="grid" layout="horizontal" layout-align="center center" layout-wrap>
    <md-card ng-repeat="results in vm.results.list">
        <a ng-href="{{results.url}}"></a>
        <img ng-src="{{results.images.fixed_height_small.url}}" class="md-card-image" alt="image caption">
        <md-card-content>
            <h3>{{results.title}}</h3>
        </md-card-content>
    </md-card>
</div>
